<!DOCTYPE html>
<html data-ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NGator.NODE: News aggregator</title>    
    <script src="/bower/jquery/dist/jquery.min.js" ></script>
    <script src="/bower/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="/bower/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/bower/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <script src="/bower/angular/angular.min.js"></script>
    <script src="/bower/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/bower/angular-resource/angular-resource.min.js"></script>
    <script src="/bower/angular-animate/angular-animate.min.js"></script>
    <script src="/bower/angular-ui/build/angular-ui.min.js"></script>
    <script src="/bower/angular-ui-select/dist/select.min.js"></script>
    <script src="/bower/angular-route/angular-route.min.js"></script>            
    <link href="/bower/angular-ui-select/dist/select.min.css" rel="stylesheet" />
    <link href="/stylesheets/Site.css" rel="stylesheet" />
    <link href="/stylesheets/ui-bootstrap-csp.css" rel="stylesheet" />
    <script src="/app/app.js"></script>
    <script src="/app/route-config.js"></script>
    <script src="/app/rsssources.js"></script>
    <script src="/app/modal.js"></script>
</head>
<body ng-controller="RssSourcesController as vm">    
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle selection</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="vertical-align: central;">NGator.NODE: News aggregator</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right">
                    <ui-select multiple ng-model="vm.selectedSources" theme="bootstrap" close-on-select="false" style="width: 500px">
                        <ui-select-match placeholder="Select sources:">\{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="src in vm.sources">
                            <div ng-bind-html="src.name"></div>                            
                        </ui-select-choices>
                    </ui-select>
                    <button type="submit" ng-disabled="vm.selectedSources.length === 0 || !vm.loadButtonEnabled" ng-click="vm.getNews()" class="btn btn-primary">Load news</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container body-content">
        {{{body}}}
        <footer>
            <pagination ng-show="vm.newsList.length > 0" total-items="totalItems" ng-model="vm.currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" ng-change="pageChanged()" num-pages="numPages"></pagination>
            <hr />
            <small><a href="https://github.com/garage71" target="_blank">&copy; 2016, Garage71</a></small>
        </footer>
    </div>
</body>
</html>
